{{define "cta"}}

.iv .iv-cta-button {
    display: inline-block;
    position: absolute;
    bottom: 2rem;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    color: var(--primary-foreground);
    background-color: var(--primary);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),
                0px 2px 2px 0px rgba(0,0,0,0.14),
                0px 1px 5px 0px rgba(0,0,0,0.12);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.iv .iv-cta-button:hover {
    background-color: var(--primary-hover);
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),
                0px 4px 5px 0px rgba(0,0,0,0.14),
                0px 1px 10px 0px rgba(0,0,0,0.12);
}
.iv .iv-cta-button:active {
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2),
                0px 8px 10px 1px rgba(0,0,0,0.14),
                0px 3px 14px 2px rgba(0,0,0,0.12);
}
.iv .iv-cta-button:focus {
    outline: none;
}

{{end}}
