{{define "bubble"}}

.iv .iv-bubble {

  position: absolute;
  top: 30px;
  left: -40px;
  width: auto;

  padding-left: .75rem;
  padding-right: .75rem;
  padding-top: .375rem;
  padding-bottom: .375rem;

  border: 2px solid #D1D5DB;
  border-radius: 0.5rem;
  border-bottom-right-radius: 0.125rem;
  text-align: center;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem
  outline: none;

  background-color: var(--background);
  color: #111827;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

}

{{end}}
