{{define "bubble"}}

.iv .iv-bubble {

  position: absolute;
  top: 30px;
  left: -40px;
  width: auto;
  min-width: 60px;

  padding-left: .75rem;
  padding-right: .75rem;
  padding-top: .375rem;
  padding-bottom: .375rem;

  border: 0.25rem solid hsl(var(--accent-foreground));
  border-radius: 0.25rem;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  outline: none;

  background-color: hsl(var(--background));
  color: hsl(var(--foreground));

  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

}

{{end}}
